cairocffi==1.0.2
CairoSVG==2.4.0
cffi==1.12.3
cssselect==1.1.0
cssselect2==0.2.1
defusedxml==0.6.0
docopt==0.6.2
html5lib==1.0.1
Jinja2==2.10.1
lxml==4.4.0
Markdown==3.1.1
MarkupSafe==1.1.1
Pillow==6.1.0
pycparser==2.19
Pyphen==0.9.5
PyYAML==5.1.2
six==1.12.0
tinycss==0.4
tinycss2==1.0.2
WeasyPrint==48
webencodings==0.5.1
