cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect==1.1.0
cssselect2==0.3.0
defusedxml==0.6.0
docopt==0.6.2
html5lib==1.1
importlib-metadata==1.7.0
Jinja2==2.11.2
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
Pillow==7.1.2
pycparser==2.20
Pyphen==0.9.5
PyYAML==5.3.1
six==1.15.0
tinycss==0.4
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
zipp==3.1.0
